.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.carousel-inner img {
    border-radius: 15px;
}

.carousel-caption h5, .carousel-caption p {
    color: white;
    margin: 0;
}
.carousel-custom {
    width: 50%; /* Ajuste a largura conforme necessário */
}
body{
    background-color: rgb(8, 8, 112);
}
.description{
    color: white;
}
@media (max-width: 768px) {
    .carousel-custom {
        width: 80%; 
        height: 80%;
    }
    
    .minutes-seconds {
        display: block;  
    }
}